/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    color: #333;
}

.container {
    background-color: rgb(225, 231, 231);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 7s00px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #030303;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #383737;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

input[type="number"], input[type="tel"] {
    -moz-appearance: textfield;  /* Hide the number spinner on input[type="number"] */
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #ff0101;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5eff00;
}

.error-message {
    color: red;
    font-size: 12px;
}

.success-message {
    background-color: #dff0d8;
    padding: 10px;
    color: rgb(14, 255, 14);
    border-radius: 4px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }
}
